<div class="container-fluid">

    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Song Not Found</p>
        <p class="text-gray-500 mb-0">Oops! The track you're looking for is missing or unavailable.</p>
        <a href="index.html">&larr; Back to Music Library</a>
    </div>

</div>