@model IEnumerable<DVD_World.Models.Game>

@{
    Layout = "UserLayout";
}

<!-- Slider area start -->
<div class="slider-area bg-black">
    <div class="container-fluid p-0">
        <div class="series-slider-active nav-style-1">
            <div class="single-hero-img-2">
                <a href="movie-details.html"><img src="~/User/assets/images/slider/horror-slider-1.png" alt=""></a>
            </div>
            <div class="single-hero-img-2">
                <a href="movie-details.html"><img src="~/User/assets/images/slider/horror-slider-2.png" alt=""></a>
            </div>
        </div>
    </div>
</div>

<!-- Game list area -->
<div class="movie-list section-padding-lr section-pt-50 section-pb-50 bg-black">
    <div class="container-fluid">
        <div class="row">
            @foreach (var game in Model)
            {
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="movie-wrap text-center mb-30">
                        <div class="movie-img">
                            <a href="User/GameDetail/@game.Id">
                                <img src="~/@game.GameImage" style="width: 100%; height: 300px;" alt="@game.GameName">
                            </a>
                            <button title="Watchlist" class="Watch-list-btn" type="button"><i class="zmdi zmdi-plus"></i></button>
                        </div>
                        <div class="movie-content">
                            <h3 class="title">
                                <a href="GameDetail/@game.Id" target="_blank">@game.GameName</a>
                            </h3>
                            <span>Genre: Action</span>
                            <div class="movie-btn">
                                <a href="GameDetail/@game.Id" class="btn-style-hm4-2 animated" target="_blank">Watch Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
