@model IEnumerable<DVD_World.Models.MovieTrailer>

@{
    Layout = "UserLayout";
}

<!-- Slider area start -->
<div class="slider-area bg-black">
    <div class="container-fluid p-0">
        <div class="series-slider-active nav-style-1">
            <div class="single-hero-img-2">
                <a href="#"><img src="~/User/assets/images/slider/movie-1.png" alt=""></a>
            </div>
            <div class="single-hero-img-2">
                <a href="#"><img src="~/User/assets/images/slider/category-7.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>

<!-- Movie Trailer list area -->
<div class="movie-list section-padding-lr section-pt-50 section-pb-50 bg-black">
    <div class="container-fluid">
        <div class="row">
            @foreach (var trailer in Model)
            {
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="movie-wrap text-center mb-30">
                        <div class="movie-img">
                            <a href="User/MovieTrailerDetail/@trailer.Id">
                                <img src="~/@trailer.Movie?.MovieImage" style="width: 100%; height: 300px;" alt="@trailer.Title">
                            </a>
                            <button title="Watchlist" class="Watch-list-btn" type="button"><i class="zmdi zmdi-plus"></i></button>
                        </div>
                        <div class="movie-content">
                            <h3 class="title">
                                <a href="MovieTrailerDetail/@trailer.Id">@trailer.Title</a>
                            </h3>
                            <span>Release Date: @trailer.ReleaseDate.ToShortDateString()</span>
                            <div class="movie-btn">
                                <a href="MovieTrailerDetail/@trailer.Id" class="btn-style-hm4-2 animated">Watch Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
